@charset "UTF-8";

body {
	margin: 0;
}

.navigation {
	width: 25%;
	height: 90%;
	background-color: #dddddd;
	position: fixed;
	
	margin: 0;
	/* bottom: 10px;
	top: 70.4px;; */
	padding: 0;
	overflow: auto;
}

.navigation ul {
	list-style-type: none;
}

.navigation li a {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}

.navigation li a.active {
	background-color: #04AA6D;
	color: white;
}

.navigation li a:hover:not(.active) {
	background-color: #555;
	color: white;
}
.welcome {
	text-align: center;
	width: 75%;
	margin-left: 25%;
	margin-top: 10%;
	font-size: 36px;
	
}